/* app.component.css */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
.container {
    display: flex;
  }
  
  .sidenav {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav.active {
    left: 0;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .content {
    margin-left: 250px;
    padding: 16px;
  }
  
  @media screen and (max-width: 600px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
      left: 0;
    }
    .content {
      margin-left: 0;
    }
  }
/* 
-------------------------- */

.themeselector{
:root {
  --red: #db2828;
  --orange: #f2711c;
  --yellow: #fbbd08;
  --olive: #b5cc18;
  --green: #21ba45;
  --teal: #00b5ad;
  --blue: #2185d0;
  --violet: #6435c9;
  --purple: #a333c8;
  --pink: #e03997;
}

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
  font-family: "lato";
  color: #333;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label span {
  transform: scale(1.25);
}

input[type="radio"]:checked + label .red {
  border: 2px solid #c32121;
}

input[type="radio"]:checked + label .orange {
  border: 2px solid #d15415;
}

input[type="radio"]:checked + label .yellow {
  border: 2px solid #e6a00f;
}

input[type="radio"]:checked + label .olive {
  border: 2px solid #8c9d0b;
}

input[type="radio"]:checked + label .green {
  border: 2px solid #128c21;
}

input[type="radio"]:checked + label .teal {
  border: 2px solid #007f7b;
}

input[type="radio"]:checked + label .blue {
  border: 2px solid #145385;
}

input[type="radio"]:checked + label .violet {
  border: 2px solid #522f9b;
}

input[type="radio"]:checked + label .purple {
  border: 2px solid #8c1295;
}

input[type="radio"]:checked + label .pink {
  border: 2px solid #961d72;
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

label:hover span {
  transform: scale(1.25);
}

label span {
    border-radius: 10px;
  display: flex;
  gap: 2rem;
  width: 130%;
  height: 130%;
  transition: transform 0.2s ease-in-out;
}

label span.red {
  background: #db2828;
}

label span.orange {
  background: #f2711c;
}

label span.yellow {
  background: #fbbd08;
}

label span.olive {
  background: #b5cc18;
}

label span.green {
  background: #21ba45;
}

label span.teal {
  background: #00b5ad;
}

label span.blue {
  background: #2185d0;
}

label span.violet {
  background: #6435c9;
}

label span.purple {
  background: #a333c8;
}

label span.pink {
  background: #e03997;
}
}